* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.calculator {
    height: 608px;
    width: 320px;
    border: black solid 4px;
}

.display {
    height: 224px;
}

.buttons {
    height: 384px;
    display: flex;
    flex-direction: column;
}

.buttons > div {
    flex: 1;
    display: flex;
}

button {
    flex: 1;
    font-size: 20px;
}